.user-container {
    width: 100%;
    max-width: 100%;  
}

.user-header {
    display: flex;
    justify-content: right;
    align-items: right;
    margin-bottom: 1.5rem;
    gap: 1rem;
    flex-wrap: wrap;
}